.card {
  padding: 2em;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
  text-align: center;
  border-radius: 8px;
  background-color: #FDFDFD;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.card:hover {
  background-color: #ffffff;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.2);
}
