

body {
  font-family: 'Poppins', sans-serif;
}

/* Header */
.nav-header{
  color: black;
  margin-left: 5px;
}

.nav-header:hover {
  background-color: #03045E;
  color: white !important;
  border-radius: 8px;
}

.nav-header:focus,
.nav-header.active {
  background-color: #03045E;
  color: white !important;
  border-radius: 8px;
}


/* Home */
.card {
  padding: 2em;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  text-align: center;
}

.btn-primary-custom {
  background-color: #03045E;
  color: #fff;
  border: none;
}

.btn-primary-custom:hover,
.btn-primary-custom:active {
  background-color: #ffffff;
  color: #03045E;
  border: 1px solid #03045E;
}

.btn-outline-custom {
  border-color: #03045E;
  color: #03045E;
}

.btn-outline-custom:hover,
.btn-outline-custom:active {
  background-color: #03045E;
  color: #ffffff;
}
 
.card:hover {
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
  transform: translateY(-6px);
}

/* Contact */
.form-control.input,
.form-select.input,
textarea.input {
  background-color: #f1f1f1;
  transition: background-color 0.3s ease;
  color: #6c757d;
}

.form-control.input:focus,
.form-control.input:not(:placeholder-shown),
.form-select.input:focus,
.form-select.input:valid,
textarea.input:focus,
textarea.input:not(:placeholder-shown) {
  background-color: #ffffff;
  color: #212529;
}
